<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Paste</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="nav">
    <div class="container">
        <div class="title nav-item">
            <a href="/">
                Paste
            </a>
        </div>
    </div>
</nav>
<!-- Main Paste interface -->
<section class="container">
    <div class="tools">
        <div>
            <label for="paste__title">Title</label>
            <input type="text" id="paste__title">
        </div>
    </div>
    <textarea id="paste" spellcheck="false"></textarea>
    <button id="paste__submit" type="submit">Create Paste</button>
</section>
<footer>
    <div class="container">
        Made with <3 by <a href="https://github.com/lap00zza">@lap00zza</a>. Check the source code on
        <a href="https://github.com/lap00zza/Paste">Github</a>.
    </div>
</footer>
</body>
<script src="/ts/index.js"></script>
</html>
