<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1 class="title">
        <a href="/">
            Paste
        </a>
    </h1>
    <span class="paste__title"><%= title %></span>
    <section class="paste__container">
        <pre class="paste__content"><%= content %></pre>
    </section>
    <footer>
        Made with <3 by <a href="https://github.com/lap00zza">@lap00zza</a>. Licensed under MIT.
    </footer>
</div>
</body>
</html>
